body{
    background:white;
}
#blackBoard img{
    left: 300px;
    width: 550px;
    height: 550px;
}
#movie{
    position:absolute;
    height: 350px;
    width:1200px;
    z-index: 10000;
    top: 100px;
    left: 100px;

}
@media screen and (max-height:450px) and (orientation: landscape) {
    #blackBoard img{
        height: 300px;
    }
}