body{
    background:white;
}
#blackBoard img{
    position: absolute;
    height: 100%;
    width: 100%;
}
#movie{
    position:absolute;
    height: 100%;
    width:100%;
    z-index: 100;

}
@media screen and (max-height:450px) and (orientation: landscape) {
    #blackBoard img{
        height: 100%;
    }
}