@charset "UTF-8";

#plane{
    width: 100%;
    height:570px;
    object-fit: cover;
    display: block;
    z-index: 1;
}
#switch button{
    position: absolute;
}
.button{
    background: transparent;
    top: 180px;
    left: 300px;
    width: 650px;
    height: 130px;
    z-index: 100;
    cursor: pointer;
}
.center{
    background:transparent;
    cursor: pointer;
    width: 520px;
    height: 100px;
    top:170px;
    left:400px;
}
.center1{
    background:transparent;
    cursor: pointer;
    width: 200px;
    height: 100px;
    top:270px;
    left:350px;    
}
.center2{
    background:transparent;
    cursor: pointer;
    width: 200px;
    height: 100px;
    top:270px;
    left:720px;
}
.threeBuild{
    background:transparent;
    cursor: pointer;
    top: 200px;
    left: 750px;
    width: 250px;
    height: 60px;    
}
.threeBuild2{
    background:transparent;
    cursor: pointer;
    top: 130px;
    left: 390px;
    width: 60px;
    height: 60px;    
}
.threeBuild3{
    background:transparent;
    cursor: pointer;
    top: 100px;
    left: 710px;
    width: 130px;
    height: 80px;    
}
/*一と二は同じ範囲の物とする*/
.underRight{
    background: transparent;
    cursor: pointer;
    top: 150px;
    left: 700px;
    width: 500px;
    height: 180px;
}
.underRight2{
    background: transparent;
    cursor: pointer;
    top: 180px;
    left: 520px;
    width: 170px;
    height: 100px;
}
.underRight3{
    background: transparent;
    cursor: none;
    border: none;
}
.upRight{
    background: transparent;
    cursor: pointer;
    top: 120px;
    left: 410px;
    width: 510px;
    height: 150px;
}
.upRight1{
    background:transparent;
    cursor: none;
    border: none;
}
.upRight3{
    background: transparent;
    cursor: pointer;
    top: 150px;
    left: 1100px;
    width: 150px;
    height: 200px;
}
.upRight2{
    background:transparent;
    cursor: none;
    border: none;
}
/*以下びっくり用*/
#horrorImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 10000001;
}

/* 表示時のアニメーション */
#horrorImage.active {
    animation: scareZoom 2.5s forwards;
}

@keyframes scareZoom {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

/*以下スマホ用*/
@media screen and (max-height:450px) and (orientation: landscape) {
    #plane{
        height: 300px;
    }
    .button{
        top: 100px;
        left: 150px;
        width: 330px;
        height: 70px;
    }
    .center{
        width: 250px;
        height: 58px;
        top:90px;
        left:200px;
    }
    .center1{
    width: 100px;
    height: 50px;
    top:150px;
    left:180px;    
    }
    .center2{
    width: 100px;
    height: 50px;
    top:150px;
    left:360px;
    }
    .threeBuild{
    top: 110px;
    left: 370px;
    width: 125px;
    height: 30px;    
}
.threeBuild2{
    background:transparent;
    cursor: pointer;
    top: 80px;
    left: 190px;
    width: 40px;
    height: 30px;    
}
.threeBuild3{
    background:transparent;
    cursor: pointer;
    top: 60px;
    left: 350px;
    width: 70px;
    height: 40px;    
}
.underRight{
    top: 100px;
    left: 350px;
    width: 250px;
    height: 80px;
}
.underRight2{
    top: 100px;
    left: 260px;
    width: 80px;
    height: 50px;
}
.upRight{
    top: 70px;
    left: 200px;
    width: 250px;
    height: 80px;
}
.upRight3{
    top: 100px;
    left: 540px;
    width: 80px;
    height: 100px;
}
}