@charset "UTF-8";

#plane{
    width: 100%;
    height:570px;
    object-fit: cover;
    display: block;
    z-index: 1;
}
#switch button{
    position: absolute;
}
.button{
    background: transparent;
    top: 180px;
    left: 300px;
    width: 650px;
    height: 130px;
    z-index: 100;
    cursor: pointer;
}
.center{
    background:transparent;
    cursor: pointer;
    width: 520px;
    height: 100px;
    top:170px;
    left:400px;
}
.center1{
    background:transparent;
    cursor: pointer;
    width: 200px;
    height: 100px;
    top:270px;
    left:350px;    
}
.center2{
    background:transparent;
    cursor: pointer;
    width: 200px;
    height: 100px;
    top:270px;
    left:720px;
}
.threeBuild{
    background:transparent;
    cursor: pointer;
    top: 200px;
    left: 750px;
    width: 250px;
    height: 60px;    
}
.threeBuild2{
    background:transparent;
    cursor: pointer;
    top: 130px;
    left: 390px;
    width: 60px;
    height: 60px;    
}
.threeBuild3{
    background:transparent;
    cursor: pointer;
    top: 100px;
    left: 710px;
    width: 130px;
    height: 80px;    
}
/*一と二は同じ範囲の物とする*/
.underRight{
    background: transparent;
    cursor: pointer;
    top: 150px;
    left: 700px;
    width: 500px;
    height: 180px;
}
.underRight2{
    background: transparent;
    cursor: pointer;
    top: 180px;
    left: 520px;
    width: 170px;
    height: 100px;
}
.underRight3{
    background: transparent;
    cursor: none;
    border: none;
}
.upRight{
    background: transparent;
    cursor: pointer;
    top: 120px;
    left: 410px;
    width: 510px;
    height: 150px;
}
.upRight1{
    background:transparent;
    cursor: none;
    border: none;
}
.upRight3{
    background: transparent;
    cursor: pointer;
    top: 150px;
    left: 1100px;
    width: 150px;
    height: 200px;
}
.upRight2{
    background:transparent;
    cursor: none;
    border: none;
}
/*以下びっくり用*/
#horrorImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    pointer-events: none;
    z-index: 10000001;
}

/* 表示時のアニメーション */
#horrorImage.active {
    animation: scareZoom 2.5s forwards;
}

@keyframes scareZoom {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        transform: translate(-50%, -50%) scale(1.4);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

/*以下スマホ用*/
@media screen and (max-height:450px) and (orientation: landscape) {
    #plane{
        height: 400px;
    }
    .button{
         top: 28%;
        left: 24%;
        width: 478px;
        height: 110px;
    }
    .center{
    width: 394px;
        height: 72px;
        top: 26%;
        left: 30%;
    }
    .center1{
        width: 155px;
        height: 90px;
        top: 45%;
        left: 27%;   
    }
    .center2{
        width: 160px;
        height: 85px;
        top: 43%;
        left: 56%;
    }
    .threeBuild{
        background: transparent;
        cursor: pointer;
        top: 30%;
        left: 60%;
        width: 170px;
        height: 53px;
}
.threeBuild2{
background: transparent;
        cursor: pointer;
        top: 20%;
        left: 29%;
        width: 90px;
        height: 53px;
}
.threeBuild3{
        background: transparent;
        cursor: pointer;
        top: 15%;
        left: 55%;
        width: 118px;
        height: 62px;
}
.underRight{
        top: 25%;
        left: 55%;
        width: 370px;
        height: 120px;
}
.underRight2{
        top: 30%;
        left: 42%;
        width: 110px;
        height: 80px;
}
.upRight{
    top: 16%;
        left: 32%;
        width: 406px;
        height: 123px;
}
.upRight3{
        top: 20%;
        left: 86%;
        width: 113px;
        height: 176px;
}
}

@media screen and (max-height:360px) and (orientation: landscape) {
    #plane{
        height: 400px;
    }
    .button{
        top: 28%;
        left: 24%;
        width: 450px;
        height: 97px;
    }
    .center{
        width: 363px;
        height: 64px;
        top: 24%;
        left: 31%;

    }
    .center1{
        width: 138px;
        height: 73px;
        top: 45%;
        left: 28%; 
    }
    .center2{
        width: 150px;
        height: 80px;
        top: 43%;
        left: 56%;
    }
    .threeBuild{
        background: transparent;
        cursor: pointer;
        top: 29%;
        left: 60%;
        width: 170px;
        height: 53px;  
}
.threeBuild2{
        background: transparent;
        cursor: pointer;
        top: 15%;
        left: 28%;
        width: 82px;
        height: 53px;
}
.threeBuild3{
        background: transparent;
        cursor: pointer;
        top: 15%;
        left: 55%;
        width: 103px;
        height: 61px;
}
.underRight{
        top: 25%;
        left: 55%;
        width: 370px;
        height: 120px;
}
.underRight2{
        top: 30%;
        left: 42%;
        width: 110px;
        height: 80px;
}
.upRight{
        top: 10%;
        left: 32%;
        width: 360px;
        height: 110px;
}
.upRight3{
        top: 25%;
        left: 85%;
        width: 103px;
        height: 130px;
}
}