@charset "UTF-8";
html, body{
    height: 100%;
    margin: 0;
    background-color: white;
    overflow-x:auto;
    overflow-y: hidden;
}
#smartPhone button{
  display: none;
}
#scene{
position: relative;
z-index: 1;
width: 100%;
}
#scene img{
    width: 1270px;
    height: 800px;
}
/*カウントデバッグ表示*/
#count{
  display: none;
}
#character{
    position: absolute;
    top: 350px;
    left: 600px;
    width: 50px;   
    height: 75px;
    z-index: 9997;
}
#explainUI {
    position: absolute;
    display: none;
}
#tryUI{
    position: absolute;
    z-index: 1000;
    left: 50px;
    top: 40px;
}
#windowUI{
    position: absolute;
    width: 220px;
    height: 430px;
    z-index: 2;
    top: 20px;
    left: 3px;
}
.item{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}
.item img{
    width: 50px;
    height: 50px;
    z-index: 101;
}
#innerTitle{
  font-size: 1.17em;
}
#explainUI{
  z-index: 101;
}
.hiddenUI{
    display: none;
    pointer-events: none;
    opacity:0;
}
.show{
    display: flex;
    opacity: 1;
}
#imageDisplay{
    width: 50px;
    height: 50px;
}
.imageBox{
    display: flex;
    align-items: center;
    gap:10px;
    margin-bottom: 10px;
}
#hideWindow{
    z-index: 9999;
}
#skip{
    position: absolute;
    z-index: 10000;
    width: 100px;
    height: 50px;
    left: 30px;
    height: 30px;
}

/*以下、max-height:300px、スマホ用*/
@media screen and (max-height:450px) and (orientation: landscape) {
  #scene img{
        width: 800px;
        height: 420px;
  } 
  #innerTitle{
    font-size: 0.5em;
  } 
  #explainUI{
        left:75%;
    }
    #smartPhone{
    inset: 0;
  }
  #smartPhone button{
    display: block;
    position:absolute;
    background:transparent;
    border:none;
    opacity: 0;
    z-index: 30000;
    cursor:pointer;
  }
    #threeScience{
        width: 184px;
        height: 85px;
        left: 132px;
        top: 128px;
  }
  #centerThree{
        left: 342px;
        top: 126px;
        width: 165px;
        height: 103px;
  }
  #leftSmall{
        left: 232px;
        top: 217px;
        width: 86px;
        height: 69px;
  }
  #firstScience{
        left: 360px;
        top: 20px;
        width: 127px;
        height: 85px;
  }
  #library{
        left: 408px;
        top: 234px;
        width: 184px;
        height: 102px;
  }
  #title{
    font-size: 1em;
  }
  .item img{
    width: 20px;
    height: 20px;
  }
  .item h3{
    font-size: 0.5em;
  }
  #tryUI button{
    width: 70px;
    height: 20px;
    font-size: 0.5em;
  }
  #tryUI{
    left: 20px;
    top: 40px;
}
#windowUI{
    width: 100px;
    height: 290px;
}
#count{
  display: none;
}
.item{
    gap:5px;
    margin-bottom: 3px;
}
#characterImage img{
  display: none;
}
}

@media screen and (max-height:360px) and (orientation: landscape) {
  #scene img{
    width: 800px;
    height: 330px;
  }  
  #explainUI{
        position: absolute;
        left: 660px;
    }
    #smartPhone{
    inset: 0;
  }
  #smartPhone button{
    display: block;
    position:absolute;
    background:transparent;
    border: 2px solid black;
    z-index: 30000;
    cursor:pointer;
  }
    #threeScience{
        width: 184px;
        height: 60px;
        left: 132px;
        top: 105px;
  }
  #centerThree{
        left: 342px;
        top: 95px;
        width: 165px;
        height: 90px;
  }
  #leftSmall{
        left: 232px;
        top: 167px;
        width: 86px;
        height: 56px;
  }
  #firstScience{
    left:360px;
    top:10px;
    width: 127px;
    height: 73px;
  }
  #library{
        left: 408px;
        top: 188px;
        width: 184px;
        height: 71px;
  }
  #title{
    font-size: 1em;
  }
  .item img{
    width: 20px;
    height: 20px;
  }
  .item h3{
    font-size: 0.5em;
  }
  #tryUI button{
    width: 70px;
    height: 20px;
    font-size: 0.5em;
  }
  #tryUI{
    left: 20px;
    top: 40px;
}
#windowUI{
    width: 100px;
    height: 220px;
}
#count{
  display: none;
}
.item{
    gap:5px;
    margin-bottom: 3px;
}
#characterImage img{
  display: none;
}
}