@charset "UTF-8";

#cover{
    background-color: white;
    position: absolute;
    opacity: 0.5;
    z-index: 999;
    width: 1250px;
    height: 570px;
    top: 0;
    left: 1%;
}
#message img{
    position: absolute;
    z-index: 1999;
    width: 100%;
    height: 150px;
    top: 420px;
}
#speak{
    position: absolute;
    top: 430px;
    left: 170px;
    z-index: 2000;
    white-space: pre-line;
}
#standImg{
    position: absolute;
    width: 300px;
    height: 400px;
    z-index: 1999;
    top: 50px;
    left: 900px;
}
#standImg2{
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 1999;
    top: 50px;
    left: 900px;
}
#backButton{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 1%;
    top: 500px;
}
#skip{
    position: absolute;
    z-index: 10000;
    width: 100px;
    height: 50px;
    top: 30px;
    left: 30px;
}
@media screen and (max-height:450px) and (orientation: landscape) {
#cover{
        width: 880px;
        height: 410px;
        top: 3%;
        left: 3%;
}
#message img{
    width: 100%;
    height: 100px;
    top: 70%;
}
#standImg{
    width: 150px;
        height: 200px;
        top: 25%;
        left: 70%;
}
#speak{
        top: 70%;
        left: 15%;
        font-size: 1.17em;
}
#skip{
    width: 100px;
    height: 25px;
}
#standImg2{
width: 200px;
        height: 200px;
        top: 25%;
        left: 70%;
}
}
@media screen and (max-height:360px) and (orientation: landscape) {
#cover{
        width: 830px;
        height: 330px;
        top: 5px;
        left: 3%;
}
#message img{
    width: 100%;
    height: 100px;
    top: 65%;
}
#standImg{
        width: 150px;
        height: 200px;
        top: 10%;
        left: 70%;
}
#speak{
        top: 65%;
        left: 13%;
    font-size: 1.17em;
}
#skip{
    width: 100px;
    height: 25px;
}
#standImg2{
        width: 200px;
        height: 200px;
        top: 10%;
        left: 70%;
}
}