@charset "UTF-8";

/* ===== 共通：中央基準 ===== */
#cover,
#message img,
#speak,
#standImg,
#standImg2,
#backButton,
#skip {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ===== cover ===== */
#cover{
    background-color: white;
    opacity: 0.5;
    z-index: 999;
    width: 1250px;
    height: 570px;
    transform: translate(-50%, -50%) translate(-619px, -285px);
}

/* ===== メッセージ枠 ===== */
#message img{
    z-index: 1999;
    width: 100%;
    height: 150px;
    transform: translate(-50%, -50%) translate(0px, 135px);
}

/* ===== セリフ ===== */
#speak{
    z-index: 2000;
    white-space: pre-line;
    transform: translate(-50%, -50%) translate(-455px, 145px);
}

/* ===== 立ち絵 ===== */
#standImg{
    width: 300px;
    height: 400px;
    z-index: 1999;
    transform: translate(-50%, -50%) translate(275px, -235px);
}

#standImg2{
    width: 400px;
    height: 400px;
    z-index: 1999;
    transform: translate(-50%, -50%) translate(275px, -235px);
}

/* ===== 戻るボタン ===== */
#backButton{
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%) translate(-619px, 215px);
}

/* ===== スキップ ===== */
#skip{
    z-index: 10000;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%) translate(-595px, -255px);
}

/* ===== スマホ横向き ===== */
@media screen and (max-height:450px) and (orientation: landscape) {

#cover{
    width: 610px;
    height: 300px;
    transform: translate(-50%, -50%) translate(-305px, -150px);
}

#message img{
    height: 100px;
    transform: translate(-50%, -50%) translate(0px, 65px);
}

#standImg{
    width: 100px;
    height: 150px;
    transform: translate(-50%, -50%) translate(145px, -95px);
}

#standImg2{
    width: 180px;
    height: 180px;
    transform: translate(-50%, -50%) translate(145px, -95px);
}

#speak{
    font-size: 1.17em;
    transform: translate(-50%, -50%) translate(-225px, 65px);
}

#skip{
    width: 100px;
    height: 25px;
}
}
