@charset "UTF-8";

/* ===== 共通：中央基準 ===== */
#cover,
#speak,
#standImg,
#standImg2,
#backButton,
#skip {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ===== cover ===== */
#cover{
    background-color: white;
    opacity: 0.5;
    z-index: 999;
        width: 100%;
        height: 100%;
    transform: translate(-50%, -50%) translate(0, 0);
}

/* ===== メッセージ枠 ===== */
#took{
    position: absolute;
    z-index: 1999;
    width: 100%;
    height: 150px;
    transform: translate(-50%, -50%) translate(50%, 300%);
}

/* ===== セリフ ===== */
#speak{
    z-index: 2000;
    white-space: pre-line;
    left: 15%;
    top: 68%;
}

/* ===== 立ち絵 ===== */
#standImg{
    width: 300px;
    height: 400px;
    z-index: 1999;
    transform: translate(-50%, -50%) translate(75vh, -20%);
}

#standImg2{
    width: 400px;
    height: 400px;
    z-index: 1999;
    transform: translate(-50%, -50%) translate(75vh, -20%);
}

/* ===== 戻るボタン ===== */
#backButton{
    width: 300px;
    height: 50px;
    transform: translate(-50%, -50%) translate(-619px, 215px);
}

/* ===== スキップ ===== */
#skip{
    z-index: 10000;
    width: 100px;
    height: 50px;
    transform: translate(-50%, -50%) translate(-550px, -230px);
}

/* ===== スマホ横向き ===== */
@media screen and (max-height:450px) and (orientation: landscape) {

#cover{
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) translate(0px, 0px);
}

#took{
    transform: translate(-50%, -50%) translate(50%, 80vh);
    height: 100px;
}

#standImg{
        width: 200px;
        height: 250px;
        transform: translate(-50%, -50%) translate(70vh, -15vh);
}

#standImg2{
        width: 280px;
        height: 280px;
        transform: translate(-50%, -50%) translate(70vh, -15vh);
}

#speak{
    font-size: 1.5em;

}

#skip{
    width: 100px;
    height: 25px;
}
}

@media screen and (max-height:360px) and (orientation: landscape) {
#plane{
    height: 320px;
}
#cover{
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) translate(0, 0);
}

#took{
        height: 100px;
        transform: translate(-50%, -50%) translate(50%, 265%);
}

#standImg{
        width: 150px;
        height: 200px;
        transform: translate(-50%, -50%) translate(150%, -25%);
}

#standImg2{
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%) translate(150%, -25%);
}

#speak{
        font-size: 1.5em;
        left: 15%;
        top: 65%;
}

#skip{
    width: 100px;
    height: 25px;
}
}
