@charset "UTF-8";


/* ===== 共通中央基準 ===== */
#direction,
#man,
#woman,
#overlay,
#cover img,
#button,
#clockButton {
    position: absolute;
    left: 50%;
    top: 50%;
}

/* ===== direction ===== */
#direction{
    z-index: 100002;
    height: 300px;
    width: 300px;
    display: none;
    cursor: pointer;
    transform: translate(-50%, -50%) translate(-100px, 0px);
}

/* ===== man ===== */
#man{
    z-index: 10001;
    height: 350px;
    display: none;
    transform: translate(-50%, -50%) translate(-325px, -50px);
}

/* ===== woman ===== */
#woman{
    z-index: 10001;
    height: 350px;
    display: none;
    transform: translate(-50%, -50%) translate(175px, -50px);
}

/* ===== speak ===== */

#speak{
    z-index: 100300;
    position: absolute;
    left: 30vh;
    top: 70vh;        
}

/* ===== overlay ===== */
#overlay{
    width: 1230px;
    height: 570px;
    background-color: white;
    opacity: 0.5;
    z-index: 9998;
    transform: translate(-50%, -50%) translate(0px, 285px);
}

/* ===== cover ===== */
#cover{
    position: relative;
    height: 100%;
    width: 100%;
}

/* ===== message image ===== */
#message{
    position: absolute;
    left: 50%;
    top: 70vh;
    width: 100%;
    height:150px;;
    z-index: 9999;      /* ← ここが確実に効く */
    transform: translateX(-50%);
}

/* ===== title image ===== */
#titleImage{
    position: relative;
    width: 100%;
    height:570px;
    display: block;
}

#button{
    width: 300px;
    height: 450px;
    background:transparent;
    border: none;
    cursor:pointer;
    transform: translate(-50%, -50%) translate(-370px, 0px);
}

#clockButton{
    width: 150px;
    height: 120px;
    background:transparent;
    border-radius: 50%;
    border:none;
    cursor:pointer;
    transform: translate(-50%, -50%) translate(-10px, -170px);
}


/* ======== 高さ300px以下・横向き ======== */
@media screen and (max-height:360px) and (orientation: landscape) {

#man{
    height: 200px;
    transform: translate(-50%, -50%) translate(-200px, -65px);
}

#woman{
    height: 200px;
    transform: translate(-50%, -50%) translate(165px, -65px);
}

#direction{
    height: 150px;
    width: 150px;
    transform: translate(-50%, -50%) translate(-80px, -20px);
}

#overlay{
    height: 325px;
    width: 900px;
    transform: translate(-50%, -50%) translate(0px, 153px);
}
#speak{
    top: 202px;
    font-size: 1.5em;
}
#message{
    left: 50%;
    top: 60vh;
    width: 100%;
    height:100px;;
}
#button{
    height: 300px;
    width: 244px;
    transform: translate(-50%, -50%) translate(-270px, -7px);
}

#titleImage{
    top: 10px;
    height: 310px;
}
}
/* ======== 画面幅900px以下 ======== */

@media screen and (max-width:850px) and (orientation: landscape) {
#speak{
        font-size: 1.17em;
        top: 120px;
        transform: translateX(-50%);
}

#button{
    width: 150px;
    transform: translate(-50%, -50%) translate(-625px, -170px);
}

#clockButton{
    width: 120px;
    transform: translate(-50%, -50%) translate(-35px, -170px);
}

#titleImage{
    object-fit: cover;
    height: 100%;
}
}
