@charset "UTF-8";

#direction{
    position: absolute;
    z-index: 100002;
    top: 100px;
    left: 400px;
    height: 300px;
    width: 300px;
    display: none;
    cursor: pointer;
}
#man{
    position: absolute;
    z-index: 10001;
    height: 350px;
    left:300px;
    top:50px;
    display: none;
}
#woman{
    position: absolute;
    z-index: 10001;
    height: 350px;
    left: 800px;
    top: 50px;
    display: none;
}
@media screen and (max-height:300px) and (orientation: landscape) {
#man{
    height: 200px;
    left:150px;
    top:10px;
}
#woman{
    height: 200px;
    left: 400px;
    top: 10px;
}
#direction{
    top: 80px;
    left: 200px;
    height: 150px;
    width: 150px;
}
}
#speak{
    position: absolute;
    z-index: 10000;
    top:400px;
    left: 150px;
}
@media screen and (max-width:900px) {
#speak{
    top: 410px;
    left: 80px;
    font-size: 1.17em;
}
}
@media screen and (max-height:300px) and (orientation: landscape) {
 #speak{
    top:200px
  }
}
#cover{
    position: relative;
    height: 100%;
    width: 100%;
}
#overlay{
    top: 2%;
    left:1%;
    width: 1230px;
    height: 570px;
    background-color: white;
    position: absolute;
    opacity: 0.5;
    z-index: 9998;
}
@media screen and (max-width:900px){
#overlay{
    width: 600px;
}
}
@media screen and (max-height:300px) and (orientation: landscape) {
#overlay{
    height: 300px;
}
}
#cover img{
    position: absolute;
    top:400px;
    width: 100%;
    height:150px;
    z-index: 9999;
}
@media screen and (max-width:900px) {
#cover img{
    width: 600px;
}
}
@media screen and (max-height:300px) and (orientation: landscape) {
 #cover img{
    top: 200px;
    height: 100px;
 }
}
#titleImage{
    position: relative;
    width: 100%;
    height:570px;
    display: block;
}
@media screen and (max-width:900px){
    #titleImage{
        object-fit: cover;
        height: 100%;
    }
}
@media screen and (max-height:300px) and (orientation: landscape) {
 #titleImage{
    height: 300px;
 }
}
#button{
    position: absolute;
    top :10%;
    left: 10%;
    width: 300px;
    height: 450px;
    background:transparent;
    border: none;
    cursor:pointer;
}
@media screen and (max-width:900px){
#button{
    left: 0%;
    width: 150px;
}
}
@media screen and (max-height:300px) and (orientation: landscape) {
 #button{
    top: 3%;
    left: 10%;
    height: 300px;  
 }
}
#clockButton{
    position: absolute;
    top :10%;
    left: 49%;
    width: 150px;
    height: 120px;
    background:transparent;
    border-radius: 50%;
    border:none;
    cursor:pointer;
}
@media screen and (max-width:900px){
#clockButton{
    left: 47%;
    width: 120px;
}
}

